/**
 * Place all the styles related to the matching controller here. They will
 * automatically be included in application.css.
 */

body {
  background : #0078e7;
}

.envelope {
  width          : 20px;
  vertical-align : middle;
}

.candidate_main {
  width         : 80%;
  margin        : auto;
  margin-top    : 20px;
  padding       : 20px;
  border-radius : 5px;
  background    : white;
  text-align    : center;
}

.interviewer_explanation {
  width      : 80%;
  margin     : auto;
  margin-top : 20px;
  padding    : 20px;
  color      : white;
  text-align : center;
}

.button_to {
  display : inline-block;
}

.evil {
  margin    : 5px;
  font-size : 50%;
}

.it-been-done {
  color      : white;
  background : red;
}

table {
  width : 100%;
}

th {
  text-align : center;
}
