/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body{
 background: #0078e7;
}

.candidate_main{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
 }

 .interviewer_explanation{
    color: white;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    text-align: center;
 }

 .button_to{
  display: inline-block;
 }

.evil{
 font-size: 50%;
 margin: 5px;
}

.it-been-done{
 background: red;
 color: white
}

table{
 width: 100%;
}

th{
 text-align: center;
}
