---
http_interactions:
- request:
    method: get
    uri: http://hipsterjesus.com/api/?html=false&paras=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"text":"Mollit  bushwick occaecat  glossier hammock, duis  vice prism
        chicharrones nisi eu.  Adipisicing activated charcoal disrupt seitan chartreuse
        tumblr flannel.  Pok pok asymmetrical ea chia vexillologist plaid.  XOXO microdosing
        craft beer mixtape, man bun tumblr venmo cupidatat  four loko biodiesel chillwave.  Mumblecore
        subway tile viral, snackwave before they sold out paleo irure  offal master
        cleanse everyday carry yuccie labore.  Hoodie anim  crucifix velit, sunt DIY
        truffaut irure  snackwave selfies succulents ad lyft sed non.  Austin artisan
        lo-fi retro, minim hella bespoke.","params":{"paras":1,"type":"hipster-latin"}}'
  recorded_at: Sun, 14 May 2017 04:16:20 GMT
recorded_with: VCR 3.0.3
